<!DOCTYPE html>
<head>
	<meta >
</head>
<body>
	<div>

	</div> <!-- div for top label shits -->
		<div id = 'image'> <%= image %> </div>

	<div>

	</div> <!-- genre shits -->
		<% for(var i = 0 ; i < genre.length; i++) { %>
			<div id = 'genre'> <%= genre[i] %> </div>
		<% } >
	<div>

	</div> <!-- commodities shits -->
		
	<div>
		<% for(var i =0 ; var < notification.len){ %>


		
	</div> <!-- notification shits -->



</body>